/*
********CONCEPTOS********
Padding es el relleno de la caja, es el espacio entre el contenido y el borde.
Margin es el espacio entre la caja y el resto de las cajas.
crt+alt+flechas (selección multiple para agregar el mismo texto a varios elementos
*/

.form{
    background: red;
    padding: 10px;/*RELLENO COMPLETO*/
    padding: 10px 0 30px 40px;/*RELLENO SUPERIOR, DERECHA, INFERIOR, IZQUIERDA el cero no lleva unidades*/
    padding: 10px 20px; /*Relleno superior e inferior 10px y relleno derecho e izquierdo 20px*/
    padding-top: 10px;/*RELLENO SUPERIOR*/
    padding-right: 10px;/*RELLENO DERECHA*/
    padding-bottom: 10px;/*RELLENO INFERIOR*/
    padding-left: 10px;/*RELLENO IZQUIERDA*/
}

.form_input{
    padding: 10px;
    /*Separa los inputs 10px*/
    margin: 10px;
    /*Separa los inputs 10px arriba y abajo y 20px derecha e izquierda*/
    margin: 10px 20px;
    /*Separa los inputs 10px arriba y abajo y 20px derecha e izquierda*/
    margin: 10px 20px 30px 40px;
}
/*Se puede poner dos clases en un mismo elemento*/
/*class = "form_input form_subbmit"*/
.form_subbmit{
    letter-spacing: 3px;
    color: rgb(0, 0, 0);
    background: orangered;
    width: 50%
}

/*Styles of the boxes*/
.box{
    background: green;
    width: 150px;
    heigth: 150px;
}
