body {
    margin: 0;
    font-family: sans-serif;
}

.flexbox {
    display: flex;/*Sets the container as flex container, making its child elments behave as flex items.*/
    /*
    ****Defining the flex container's directions****
        -As default is row
    -   row-reverse
    -   column: if the items do not have specifed width or heigth, they will inherit the width or height of the container.
    -   column-reverse

    */
    flex-direction: row-reverse;
    flex-direction: column;
}

.flex-item {
    width: 180px;
    background-color: #800;
    margin: 10px;
    color: #fff;
    font-size: 40px;
    text-align: center;
}

.flex-item:first-child {
    background-color: #f77;
}

.flex-item:last-child {
    background-color: #000;
}



