body {
  margin: 0;
  font-family: sans-serif;
}

div,
body {
  box-sizing: border-box;
}

header, nav, main, aside, footer {
    padding: 20px;
    border: 2px solid #444;
}
.grid {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) minmax(300px, 3fr) minmax(200, 1fr);
  grid-template-rows: auto 1fr auto;
  grid-auto-flow: dense;
  margin: auto;
  gap: 10px;
  padding: 10px;
  min-height: 100vh;
  grid-template-areas:
    "header header header"
    "nav main aside"
    "footer footer footer";
}

header {
    grid-area: header;
    background-color: #48e;
    color: fff;
    border-color: #48e;
}

nav {
    grid-area: nav;
    max-width: 200px;
}

main {
    grid-area: main;
    min-width: 300px;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
    background-color: black;
    color: white;
}
.grid-item {
}
