body{
    margin: 0;
    font-family: sans-serif;
    height: 100vh;
    background-color: #ccc;
}

.box {
    width: 120px;
    height: 120px;
    background-color: #fff;
    margin: auto;
    margin-top: 50px;
    color: red;
    position: relative;
    left: 0;
    border: 2px solid #0009;
    overflow: visible;/*if the text overflows, it will be shown*/
    overflow: hidden;/*if the text overflows, it will be hidden*/
    overflow: scroll;/*if the text overflows, a scroll bar will be shown*/
    overflow: auto;/*The best option*/
}

