body {
    margin: 0;
    font-family: sans-serif;
}

body, div {
    box-sizing: border-box;
}

.flexbox {
    display: flex;
}

.flex-item {
    background-color: #ccc;
    padding: 30px;
    border: 1px solid red;
    flex-grow: 1;
}

@media screen and (max-width:600px) {
    .flexbox {
        flex-direction: column;
    }
}