body {
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: #f80;
    color: #fff;
}

header {
    height: 100vh;
    box-sizing: border-box;
    background-image: url("Evento.webp");
}

h1 {
    margin: 0;
}

.header__overlay {
    height: 100vh;
    width: 100vw;
    background-color: #0006;
    position: absolute;
    z-index: 1;
}

.header__item-container {
    position: relative;
    z-index: 10;
}