body {
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: #f80;
}

.header {
    height: 100vh;
    box-sizing: border-box;
    background-image: url("Evento.webp");
}

h1 {
    margin: 0;
}