body {
  margin: 0;
  font-family: sans-serif;
}

div,
body {
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-auto-flow: dense;
  margin: auto;
  gap: 10px;
  padding: 10px;
  /*Hace que su alto se adapte al tamaño de la pantalla*/
  min-height: 100vh;
}

.grid-item {
  background-color: #48e;
  border-radius: 16px;
  background-image: url("ironman.webp");
  background-size:cover;
  background-position: center;
}

.grid-item:nth-child(10) {
    grid-column: span 2;
    grid-row: span 2;
}

.grid-item:hover{
    opacity: 0.74;
}
